.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center;
    padding: 6rem; */
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentTitle {
    color: #0500FA;
    font-size: 1.5rem;
    text-decoration: underline;
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem 1rem;
}

.contentItem {
    text-align: center;
    color: #2A28C7;
}