.container {
    color: #2A28C7;
    border: 5px solid #2A28C7;
    min-width: 30%;
    padding: .5rem;
}

@media screen and (min-width: 600px) {
    .container {
        min-width: 40%;
    }
}

.ctaButton {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #0500FA;
}